body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: .05rem;
    color: $color-black;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
  }