<template>
  <div class="boxLeft">
    <svg class="boxLeft-icon">
      <use :xlink:href="'/sprites.svg#icon-' + this.$store.state.app.weather.icon" />
    </svg>
    <h3 class="boxLeft-weather">{{ this.$store.state.app.weather.main }}</h3>
    <h4 class="boxLeft-location">{{ this.$store.state.app.city }} - {{ country }}</h4>
    <h3 class="boxLeft-temp">{{ this.$store.state.app.weather.temp_crr }} °C</h3>

    <div class="boxLeft-changeLoc" @click="cbmodal(true)">
      <svg>
        <use xlink:href="/sprites.svg#icon-location" />
      </svg>
      <h5>Change Location</h5>
    </div>
  </div>
</template>

<script>
export default {
      props: {
        cbmodal : Function
    },
  data() {
    return {
      city: process.env.DEFAULT_CITY,
      country: process.env.DEFAULT_COUNTRY_TXT
    }
  }
}
</script>
