<template>
  <div class="boxRight">
    <div class="boxRight-content">
      <svg class="boxRight-content__icon">
        <use xlink:href="/sprites.svg#icon-droplet" />
      </svg>
      <div class="boxRight-content__info">
        <h2>Humidity</h2>
        <p>{{ this.$store.state.app.weather.humidity }} %</p>
      </div>
    </div>

    <div class="boxRight-content">
      <svg class="boxRight-content__icon">
        <use xlink:href="/sprites.svg#icon-weather2" />
      </svg>
      <div class="boxRight-content__info">
        <h2>Air pressure</h2>
        <p>{{ this.$store.state.app.weather.pressure }} hPa</p>
      </div>
    </div>

    <div class="boxRight-content">
      <svg class="boxRight-content__icon">
        <use xlink:href="/sprites.svg#icon-cloud1" />
      </svg>
      <div class="boxRight-content__info">
        <h2>Cloud cover</h2>
        <p>{{ this.$store.state.app.weather.clouds }} %</p>
      </div>
    </div>

    <div class="boxRight-content">
      <svg class="boxRight-content__icon">
        <use xlink:href="/sprites.svg#icon-wind" />
      </svg>
      <div class="boxRight-content__info">
        <h2>Wind Speed</h2>
        <p>{{ this.$store.state.app.weather.wind }} Km/h</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>