<template>
  <div>
    <div class="data">
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-sun" />
          </svg>
          Sunrise
          <span>{{ this.$store.state.app.weather.sunrise }}</span>
        </span>
      </div>
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-droplet" />
          </svg>
          Humidity
          <span>{{ this.$store.state.app.weather.humidity }} %</span>
        </span>
      </div>
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-cloudy" />
          </svg>
          Cloud cover
          <span>{{ this.$store.state.app.weather.cloudCover }} %</span>
        </span>
      </div>
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-wind" />
          </svg>
          Wind
          <span>{{ this.$store.state.app.weather.wind }} km/h</span>
        </span>
      </div>
      <div>
       <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-sun" />
          </svg>
          Sunset
          <span>{{ this.$store.state.app.weather.sunset }}</span>
        </span>
      </div>
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-eye" />
          </svg>
          Visibility
          <span>{{ this.$store.state.app.weather.visibility }} km</span>
        </span>
      </div>
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-rainy1" />
          </svg>
          Precipitation
          <span>{{ this.$store.state.app.weather.precipitation }} mm</span>
        </span>
      </div>
      <div>
        <span class="data__small">
          <svg class="data__svg">
            <use xlink:href="/sprites.svg#icon-weather2" />
          </svg>
          Pressure
          <span>{{ this.$store.state.app.weather.pressure }} hPa</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>