<template>
  <div class="forecast">
      <div class="forecast-box" v-for="(weather, index) in this.$store.state.app.forecast" :key="index">
          <span>{{ weather.day }}</span>
          <h3>{{ weather.temp }} °C</h3>
          <p>Feels like {{ weather.feel }} °C</p>
      </div> 
  </div>
</template>

<script>
export default {

}
</script>