<template>
  <div v-show="display">
    <div class="loading-bgrd"></div>
    <div class="loading" :style="{width : progress + '%'}"></div>
  </div>
</template>

<script>
export default {
  props: {
    progress: Number,
     cbload: Function
  },
  data() {
    return {
      display: false
    }
  },
  watch: {
    progress() {
      if(this.progress > 0 && this.progress < 100) this.display = true;

      if (this.progress === 100) setTimeout(() => {
        this.display = false
        this.cbload(0)
      }, 1000)
    }
  }
}
</script>