<template>
  <div class="modalLocation" :class="(!modal) ? 'hide' : ''">
    <input
      v-model.lazy.trim="city"
      type="text"
      placeholder="City"
      class="modalLocation-content"
      ref="input"
      @focusout="cbmodal(false)"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      city: 'Paris'
    }
  },
  props: {
    modal: Boolean,
    cbmodal: Function,
    cbload: Function
  },
  watch: {
    modal() {
      if (this.modal) this.$refs.input.select()
    },
    async city() {
      this.cbload(10);
      const currWeatherUrl = `https://api.openweathermap.org/data/2.5/weather?q=${this.city},${process.env.DEFAULT_COUNTRY}&appid=${process.env.API_KEY}`
      const weather = await fetch(currWeatherUrl).then(res => res.json())
      this.cbload(50);

      const { lat, lon } = weather.coord
      const frctWeatherUrl = `https://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lon}&exclude=hourly,minutely,current&appid=${process.env.API_KEY}`
      const frctWeather = await fetch(frctWeatherUrl).then(res => res.json())

      this.cbload(90);
      weather.daily = frctWeather.daily
      this.$store.commit('app/setupData', weather)

      this.cbload(100);
    }
  }
}
</script>