<template>
  <div class="header__search">
    <input
      type="search"
      class="header__search-field"
      placeholder="Trouver une ville"
      v-model.lazy.trim="city"
    />
  </div>
</template>


<script>
export default {
  data() {
    return {
      city: 'Paris'
    }
  },
  watch: {
    async city(val) {
      this.city = val.charAt(0).toUpperCase() + val.slice(1)

      const res = await fetch(
        `https://api.openweathermap.org/data/2.5/weather?q=${this.city},fr&appid=${process.env.API_KEY}`
      ).then(res => res.json())

      this.$store.commit('app/changeCity', res)
    }
  },
  async beforeCreate() {
      const res = await fetch(
        `https://api.openweathermap.org/data/2.5/weather?q=${this.city},fr&appid=${process.env.API_KEY}`
      ).then(res => res.json())

      this.$store.commit('app/changeCity', res)
  }
}
</script>