.container {
  padding: 0 10rem;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.boxLeft {
  position: absolute;
  top: 5rem;
  left: 10rem;
  color: $color-white;
  //padding: 2rem 0 0 5rem;

  &-icon {
    margin-left: -1.5rem;
    width: 10rem;
    height: 10rem;
    fill: $color-white;
  }

  &-weather {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 4rem;
    line-height: 3rem;
  }

  &-temp {
    font-weight: 800;
    font-size: 5.5rem;
    //line-height: 8rem;
  }

  &-location {
    font-weight: 400;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
  }

  &-changeLoc {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    svg {
      width: 2rem;
      height: 2rem;
      fill: $color-white;
      margin: auto 1rem auto 0;
    }
  }
}

.boxRight {
  position: absolute;
  top: 10rem;
  right: 10rem;

  &-content {
    margin-bottom: 4.5rem;
    display: flex;

    &__icon {
      width: 3rem;
      height: 3rem;
      fill: $color-white;
      margin-right: 2rem;
      margin-top: 0.5rem;
    }

    &__info {
      color: $color-white;

      h2 {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
      }

      p {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 2.5rem;
      }
    }
  }
}

.forecast {
  position: absolute;
  left: 10rem;
  bottom: 10rem;

  display: flex;
  width: calc(100% - 20rem);
  justify-content: space-between;

  &-box {
    color: $color-white;
    width: 100%;
    padding: 2rem;
    border-radius: 10%;

    span {
      display: block;
      margin-bottom: 6rem;
      font-size: 1.5rem;
    }

    h3 {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 3.5rem;
      line-height: 5rem;
    }

    p {
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  &-box:not(:last-child) {
    margin-right: 5rem;
  }
}

.modalLocation {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 2rem 0.6rem rgba(0, 0, 0, 0.8);
  padding: 1rem;

  &-content {
    background: transparent;
    outline: none;
    border: none;
    color: $color-white;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
  }
}

.hide {
  opacity: 0;
}

.loading-bgrd{
  position: absolute;
  top: 0;
  left: 0;
  height: .2rem;
  width: 100%;
  background-color: $color-gray;
  z-index: 1;
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: .2rem;
  background-color: #586784;
  transition: width 1s;
}
.credit{
  color: $color-white;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  a{
    color: $color-white;
    margin-right: 1rem;
  }
}