<template>
  <div>
    <Loading :progress="progress" :cbload="load" />
    <BoxLeft :cbmodal="modal" />
    <BoxRight />
    <Forecast />
    <Modal :modal="modalState" :cbmodal="modal" :cbload="load" />
    <div class="credit">
      Developer : <a href="https://www.mathieu-hansart.fr/" target="_blank">Mathieu Hansart</a>
      Designer : <a href="https://dribbble.com/shots/6357271-Weather-Application-for-Desktop" target="_blank">Hassanur Rakib</a>
      Api : <a href="https://openweathermap.org/" target="_blank">OpenWeather</a>
    </div>
  </div>
</template>

<script>
import BoxLeft from '~/components/BoxLeft.vue'
import BoxRight from '~/components/BoxRight.vue'
import Forecast from '~/components/Forecast.vue'
import Modal from '~/components/Modal.vue'
import Loading from '~/components/Loading.vue'

export default {
  components: {
    BoxLeft,
    BoxRight,
    Forecast,
    Modal,
    Loading
  },
  async beforeCreate() {
    const weather = await fetch(
      `https://api.openweathermap.org/data/2.5/weather?q=${process.env.DEFAULT_CITY},${process.env.DEFAULT_COUNTRY}&appid=${process.env.API_KEY}`
    ).then(res => res.json())

    this.progress = 50
    const { lat, lon } = weather.coord
    const frctWeatherUrl = `https://api.openweathermap.org/data/2.5/onecall?lat=${lat}&lon=${lon}&exclude=hourly,minutely,current&appid=${process.env.API_KEY}`
    const frctWeather = await fetch(frctWeatherUrl).then(res => res.json())

    this.progress = 90
    weather.daily = frctWeather.daily
    this.$store.commit('app/setupData', weather)
    this.progress = 100

  },
  methods: {
    modal(openned) {
      this.modalState = openned
    },
    load(value) {
      this.progress = value
    }
  },
  data() {
    return {
      modalState: false,
      progress: 0
    }
  }
}
</script>